<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Templates_web/template :: head"> </head>


<body>
	<header th:replace="Templates_web/template :: header"> </header>


	<div class="container">

		<div class="row">
			<div class="col-1">
				<img th:src="@{/images/herrero.webp}" src="../static/images/contest.jpg" width="70px" height="70px"
					class="d-inline-block align-top" alt="">
			</div>
			<div class="col-11">
				<h1> Contest </h1>
			</div>



		</div>

		<br>

		<div>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col"> Name </th>
						<th scope="col"> lenght </th>
						<th scope="col"> Enter </th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cl : ${list}">
						<th th:text="${cl.name}"> </th>
						<!-- <th th:text="${cl.lenght}"> </th> -->
						<th> Not Time Limit</th>
						<th> 
							<a class="btn btn-info" th:href="@{/User/EnterContest/} + ${cl.id}"
								th:text="Enter" >
							</a>
						</th>
						
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer th:replace="Templates_web/template :: footer"> </footer>
</body>

</html>