<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Templates_web/template :: head"> </head>


<body>
	<header th:replace="Templates_web/template :: header"> </header>

	<div class="container">
		<h1>POST A PROBLEM</h1>
		<div class="card bg-ligth">
			<div class="card-header bg-dark text-white ">
				Problems
			</div>
			<div class="card-body container">
				<form th:action="@{/Admin/Save}" th:object="${new_problem}" method="post" enctype="multipart/form-data">
					<div class="form-group">

						<input type="hidden" th:field="*{id_problem}">

						<label for="title"> Title: </label>
						<input type="text" th:field="*{title}" class="form-control" style="width: 500px;"
							id="input_title" placeholder="Title Problem">
						<small> </small>
						<label for="solution"> Solution: </label>
						<input type="text" th:field="*{solution}" class="form-control" style="width: 500px;"
							id="input_solution" placeholder="Solution">
						<div class="form-group row">
							<label for="Imagen"> Imagen: </label>
							<input type="file" name="file" id="imagen">
						</div>
						
						<label for="hidden"> Hidden: </label>
						<input type="checkbox" th:field="*{hidden}" class="form-control" style="width: 500px;"
							id="input_hidden">
						<small> </small>
													
					</div>	
					<input type="submit" class="btn btn-primary" value="save" />

				</form>
			</div>			
		</div>
	</div>

	<footer th:replace="Templates_web/template :: footer"> </footer>
</body>

</html>