<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "Templates_web/template :: head">   </head>


<body>
    <header th:replace = "Templates_web/template :: header"> </header>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">COMPLETED :D</h1>
          <p class="lead">You solved this problem</p>
        </div>
    </div>
	
	<div class="container">
		<div th:object="${new_submission}">

			<a class="btn botonst  btn-success" th:href="@{/Problems/Hint/} + ${new_submission.id_problem}           "
				th:text="Hint"></a>


		</div>
	</div>

   <div>

		<div align="center" style="width: 1000px;">
			<h2> Statistics</h2>
			<div id="piechart" style="width: 900px; height: 500px;"></div>
		</div>

		<script th:inline="javascript">
			var real_data = /*[[${chartData}]]*/'noValue';
			$(document).ready(function () {
				google.charts.load('current', {
					packages: ['corechart', 'bar']
				});
				google.charts.setOnLoadCallback(drawColumnChart);
				google.charts.setOnLoadCallback(drawPieChart);
			});
			function drawColumnChart() {
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Year');
				data.addColumn('number', 'Views');
				Object.keys(real_data).forEach(function (key) {
					data.addRow([key, real_data[key]]);
				});
				var options = {
					title: 'Blog stats',
					hAxis: {
						title: 'Years',
					},
					vAxis: {
						title: 'View Count'
					}
				};
				var chart = new google.visualization.ColumnChart(document
					.getElementById('chart_div'));
				chart.draw(data, options);
			}
			function drawPieChart() {
				var data = new google.visualization.DataTable();
				data.addColumn('string', 'Year');
				data.addColumn('number', 'Views');
				Object.keys(real_data).forEach(function (key) {
					data.addRow([key, real_data[key]]);
				});
				var options = {
					title: 'Blog stats'
				};
				var chart = new google.visualization.PieChart(document
					.getElementById('piechart'));
				chart.draw(data, options);
			}
		</script>
	</div>



    <footer th:replace = "Templates_web/template :: footer"> </footer>
</body>

</html>