<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Templates_web/template :: head"> </head>

<body>
	<header th:replace="Templates_web/template :: header"> </header>

	<div class="container">
		<h2>
			You can post hints or ask for help, remember! Dont post spoilers
		</h2>
		<br>
		<tr th:each="cl : ${list}">
			<div class="container advice">
				<div class="advice">
					<br>
					<h2 th:text="${cl.nickname_user}"> </h2>
					<th th:text="${cl.date}"> </th> <br>
					<h4 th:text="${cl.advice}"> </h4>
				</div>
				<br>
			</div>
			<br>
			<br>
		</tr>


		<div class="card-body container">
			<form th:action="@{/Hint/PostHint}" th:object="${new_advice}" method="post"
				enctype="multipart/form-data">

					<input type="hidden" th:field = "*{id_problem}" value = "${new_advice.id_problem}">
					<textarea th:field = "*{advice}" rows="5" cols="40" id="TITLE"> </textarea> <br>
					<input type="submit" class="btn btn-primary botonst" value="Post" />
				
			
			</form>
		</div>


		<footer th:replace="Templates_web/template :: footer"> </footer>
</body>

</html>