<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "Templates_web/template :: head">   </head>


<body>
    <header th:replace = "Templates_web/template :: header"> </header>


    <div class = "container">
    	
         <div class="row">
         	<h1 style="margin:0px 450px; color:#E82414;">
            	Retry :(
        	</h1>
                <div class="col-4">

                </div>

                <div class="col-6">
                    <img style="margin:30px 0px" th:src="@{/images/cross.jpg}" src = "../static/images/cross.jpg"
                        width="250px" height="230px"
                    alt="">
                </div>

                <div class="col-2">
                
                </div>

            </div>
        
    </div>


    <footer th:replace = "Templates_web/template :: footer"> </footer>
</body>

</html>