<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="Templates_web/template :: head"> </head>
<body>
	<header th:replace="Templates_web/template :: header"> </header>

	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Welcome</h1>
			<p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
		</div>
	</div>

	<div class="container">
		<h2>
			About Athena Judge
		</h2>
		<p>
			From her origin as an Aegean palace goddess,
			Athena was closely associated with the city.
			She was known as Polias and Poliouchos
			(both derived from polis, meaning "city-state"),
			and her temples were usually located atop the
			fortified acropolis in the central part of the city.
			The Parthenon on the Athenian Acropolis is dedicated to her,
			along with numerous other temples and monuments. As the patron
			of craft and weaving, Athena was known as Ergane. She was also
			a warrior goddess, and was believed to lead soldiers
			into battle as Athena Promachos. Her main festival in Athens
			was the Panathenaia, which was celebrated during the
			month of Hekatombaion in midsummer and was the
			most important festival on the Athenian calendar
		</p>
	<footer th:replace="Templates_web/template :: footer"> </footer>
</body>

</html>