<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace = "Templates_web/template :: head">   </head>

	
<body>
    <header th:replace = "Templates_web/template :: header"> </header>


    <div class = "container">
        <div class="container theme-showcase" role="main">
			<hr class="featurette-divider">
			<img th:src="@{/images/Greece.jpg}" width="136" height="136" class="center">
			<form class="form-signin" th:action="@{/login}" method="post">        
				<h3 class="form-signin-heading text-center"> Welcome</h3>        
				<label for="username" class="sr-only"> User </label>
				<input type="text" id="username" name="username" class="form-control" placeholder="Email address">
				<label for="password" class="sr-only">Password</label>
				<input type="password" id="password" name="password" class="form-control" placeholder="Password">
				<button class="botonst btn btn-lg btn btn-dark btn-block" type="submit"> Sign In </button>
				
				<a class = "botonst btn btn-lg btn-light btn-block"  th:href="@{/New_Register_User}" > Register</a>
				
			</form>

		</div> 
    </div>


    <footer th:replace = "Templates_web/template :: footer"> </footer>
</body>

</html>